<div class="swirls">
    <h1>Share my Cone</h1>
        <h3>Feel free to post your opinions, pictures and<br> where you found some awesome ice cream</h3>
        <%= link_to "Create a Post", new_share_path %>
</div>
<div>    
    <div class="font">
        <dl class= "profile">
            <% @shares.each do |share| %>
            <div class= "center">
                <div class="button">
                    <div class="bckclr">
                        <dl><%= image_tag share.image_content_type, size: "370x300" %></dl>
                            <dd>Nickname:<%= share.nickname %> </dd>
                            <dd>Location:<%= share.location %></dd>
                            <dd>Comments:<%= share.content %></dd>
                    </div>
                </div>
            </div>
            <% end %>
        </dl>
    </div>
</div>



   
   