 <div class="font2">   
    <h2><%= @store.name %></h2>
</div>        
 <div class="font">
    <p><%= image_tag @store.image_content_type, size: "370x300" %></p>
    <p><%= @store.location %></p>
    <p><%= @store.contact_info %></p>
 </div>
<div>
    <%= form_for [@store, @comment] do |c| %>
        <%= c.label :comment %>
        <%= c.text_field :comment, "size"=> 60, "height"=> 30%>
        <%= c.submit %>
    <% end %>
</div>
    
<p> Average rating: <%= average_rating(@store) %>  </p>
<div>
   <%= link_to image_tag("1s.png", {width: 30}), store_ratings_path(@store, rating:1), method: :post %>
   <%= link_to image_tag("2s.png", {width: 30}), store_ratings_path(@store, rating:2), method: :post %>
   <%= link_to image_tag("3s.png", {width: 30}), store_ratings_path(@store, rating:3), method: :post %>
   <%= link_to image_tag("4s.png", {width: 30}), store_ratings_path(@store, rating:4), method: :post %>
   <%= link_to image_tag("5s.png", {width: 30}), store_ratings_path(@store, rating:5), method: :post %>
 
</div>  
<div>
    <% @store.comments.each do |content| %>
        <div class="bckclr2">
        <dd> <%= content.comment %> <dd>
        By: <%= content.user.name %>
        <%= content.created_at.strftime("%b %d %Y") %>
        <%= link_to "Delete", comment_path(content), method: :delete %>
        </div>
    <% end %>
</div>  
<div><%= link_to "Lets take a trip back", stores_path %></div>

<div>
    <%= link_to "Remove Store!", store_path(@store), method: :delete, data: { confirm: "Verify please"} %>
    <%= link_to "Edit Store", edit_store_path %>
</div>




