 <div class="font2">   
    <h2><%= @store.name %></h2>
</div>        
 <div class="font">
    <p><%= image_tag @store.image_content_type, size: "370x300" %></p>
    <p><%= @store.location %></p>
    <p><%= @store.contact_info %></p>
 </div>
<div>
    <%= form_for [@store, @comment] do |c| %>
        <%= c.label :comment %>
        <%= c.text_field :comment, "size"=> 60, "height"=> 30%>
        <%= c.submit %>



        <div>
            <span class="star" id="1"> * &nbsp;</span>
            <span class="star" id="2"> * &nbsp;</span>
            <span class="star" id="3"> * &nbsp;</span>
            <span class="star" id="4"> * &nbsp;</span>
            <span class="star" id="5"> * &nbsp;</span>
            <input id="aj" type="number">
        </div>
        




    <% end %>
</div>
  <div>
    <% @store.comments.each do |content| %>
    <dd> <%= content.comment %> <dd>
    By: <%= content.user.name %>
    <%= content.created_at.strftime("%b %d %Y") %>
    <% end %>
    
<div><%= link_to "Lets take a trip back", stores_path %></div>

<div><%= link_to "Remove Store!", store_path(@store), method: :delete, data: { confirm: "Verify please"} %></div>



